:root {
    --color-prim-dark: #000;
    --color-sec-dark: #242323;
    --color-prim-mid: #696969;
    --color-sec-mid: #f4f6f5;
    --color-brnd-lght: #ebd96b;
    --color-brnd-mdl: #e5c643;
}