.section {
    padding-top: 0px;
}

.arrivals-section {
    padding: 64px 0px 188px 0px;
}

.offers-section {
    margin: 0 auto;
}

.favourites-section {
    padding-bottom: 224px;
}

.mobile-app-section {
    padding-bottom: 224px;
}